.white {
  color: #fff;
}
.contact-container {
  /* background-color: #000; */
  /* color: #fff; */
  height: 100%;
}

.contact-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.map-container {
  width: 90%;
  margin: 0 auto;
}

.contact-form-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 0 auto;
  padding-top: 20px;
}

.form-title {
  text-align: left;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-form-top-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.contact-form-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 48%;
}

.contact-form-item label {
  color: #111b47;
}
.contact-form-item input {
  border: none;
  border-bottom: 1px solid #ced3e8;
  /* border-radius: 5px; */
  background-color: inherit;
  padding: 8px 20px 8px 0;
  margin-top: 5px;
  color: #091133;
  font-size: 16px;
}

.contact-message-item {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100px;
}
.contact-message-item label {
  color: #091133;
}

.contact-message-item textarea {
  height: 50px;
  border: none;
  border-bottom: 1px solid #ced3e8;
  /* border-radius: 5px; */
  color: #091133;
  padding: 8px 20px 8px 0;
  background-color: inherit;
  margin-top: 5px;
}

@media (min-width: 1000px) {
  .contact-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
  }
  .map-container {
    width: 600px;
    padding: 20px;
  }
  .contact-form-container {
    width: 630px;
  }
}

/* contact section */

.contact-info-section {
  /* position: absolute;
  top: 20; */
  display: flex;
  flex-direction: column;
}

.contact-info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* margin: 0 auto; */
}

.contact-info-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin: 20px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1); */
}
.contact-info-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* margin: 20px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1); */
}

/* .contact-info-group:hover {
  border: 1px solid #f5a623;
  padding: 20px;
  border-radius: 20px;
} */

/* .contact-info-bottom {
  margin-top: 0;
} */

.email {
  color: #f5a623;
}
.email:hover {
  color: #fff;
}
.contact-info-bottom button {
  padding: 8px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 20px;
}

.contact-icon {
  color: #f5a623;
  margin-right: 10px;
}

.social-contact-icon-container {
  width: 35px;
  height: 35px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #091133;
  margin-right: 10px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.social-contact-icon {
  color: #fff;
  font-size: 18px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.social-contact-icon:hover {
  color: #fff;
  transform: scale(1.5);
}

.submit_button_container {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.submit_button_container:hover {
  transform: translateY(-3px);
}

.submit_button_container:hover .submit_contact_button {
  color: #111b47;
}

.submit_button_container:hover .message-icon {
  color: #111b47;
}

.contact-call {
  background-color: inherit;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.submit_contact_button {
  border: none;
  background-color: inherit;
  /* width: 80px; */
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  margin-right: 5px;
  font-weight: 600;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.message-icon {
  color: #091133;
}
@media (min-width: 1000px) {
  .contact-info-section {
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
