.homescreen {
  /* padding-top: 60px; */
  overflow: scroll;
}

.homescreen-carousel {
  width: 100vw;
  margin-bottom: 70px;
}

.homeskide-slide {
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.home_video {
  background-color: #000;
}

.homeslide-title {
  position: absolute;
  left: 10%;
  top: 30%;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #091133;
  width: 605px;
  text-align: left;
  z-index: 1;
}

.homeslide-title1 {
  position: absolute;
  left: 10%;
  top: 30%;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #091133;
  width: 605px;
  text-align: left;
  z-index: 1;
  transform: translateX(-100px);
  animation-name: slideTitle;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

@keyframes slideTitle {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}
.homeslide-body {
  position: absolute;
  left: 10%;
  top: 40%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #091133;
  width: 566px;
  text-align: left;
  z-index: 1;
  animation: up;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.homeslide-body2 {
  position: absolute;
  left: 10%;
  top: 35%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  width: 566px;
  text-align: left;
  z-index: 1;
  animation: up;
  animation-duration: 1s;
  animation-timing-function: ease;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.home_btn_group {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 10%;
  top: 55%;
  z-index: 300;
}

.homeslide-button {
  margin-right: 20px;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #111b47;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  animation: up;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.homeslide-button2 {
  position: absolute;
  left: 10%;
  top: 52%;
  padding: 21px 27px;
  border-radius: 40px;
  background-color: #d4a70c;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  color: #fff;
  z-index: 300;
  border: none;
  font-size: 14px;
  font-weight: bold;
  animation: up;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

@keyframes up {
  from {
    transform: translateY(100px;);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes down {
  from {
    transform: translateY(100px;);
  }
  to {
    transform: translateY(0);
  }
}

.homeslide-button:hover {
  background-color: #000;
  color: #ced3e8;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}
.homeslide-button2:hover {
  color: #ced3e8;

  background-color: #000;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.homeslide-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  margin-left: 3%;
  margin-top: 20%;
  z-index: 1;
  background-color: #fff;
  border: none;
  padding: 10px 12px;
  border-radius: 100%;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.homeslide-back:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.homeslide-next {
  position: absolute;
  right: 0;
  margin-right: 3%;
  margin-top: 20%;
  z-index: 1;
  background-color: #fff;
  border: none;
  padding: 10px 12px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.homeslide-next:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.homeslide-icon {
  margin: 0;
  padding: 0;
}

.homeslide-img {
  /* width: 1444px; */
  object-fit: cover;
  /* filter: brightness(0.5); */

  filter: opacity(0.4);
}

@media (max-width: 1000px) {
  .homeslide-img {
    width: 1444px;
    height: 100%;
    object-fit: cover;
    /* filter: brightness(0.5); */

    filter: opacity(0.4);
  }

  .homeslide-title {
    position: absolute;
    left: 12%;
    top: 15%;
    font-weight: 900;
    font-size: 28px;
    line-height: 30px;
    color: #091133;
    width: 300px;
  }
  .homeslide-title1 {
    position: absolute;
    left: 12%;
    top: 15%;
    font-weight: 900;
    font-size: 28px;
    line-height: 30px;
    color: #091133;
    width: 300px;
  }

  .homeslide-body {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #091133;
    width: 75%;
    text-align: left;
    z-index: 1;
    position: absolute;
    left: 12%;
    top: 38%;
  }
  .homeslide-body2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    width: 75%;
    text-align: left;
    z-index: 1;
    position: absolute;
    left: 12%;
    top: 30%;
  }

  .home_btn_group {
    display: flex;
    flex-direction: row;
    position: absolute;

    left: 10%;
    top: 80%;
    z-index: 300;
  }

  .homeslide-button {
    /* position: absolute; */
    left: 10%;
    top: 90%;
    padding: 10px 20px;
    border-radius: 40px;
    /* background-color: #d4a70c; */
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
    color: #fff;
    z-index: 300;
    border: none;
    font-size: 14px;
    font-weight: bold;
    animation: up;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  }

  .homeslide-button2 {
    position: absolute;
    left: 10%;
    top: 62%;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #d4a70c;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
    color: #fff;
    z-index: 300;
    border: none;
    font-size: 14px;
    font-weight: bold;
    animation: up;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  }

  .homeslide-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    margin-left: 2%;
    margin-top: 40%;
    z-index: 1;
    background-color: #fff;
    border: none;
    padding: 5px 7px;
    border-radius: 100%;
  }
  .homeslide-next {
    position: absolute;
    right: 0;
    margin-right: 3%;
    margin-top: 40%;
    z-index: 1;
    background-color: #fff;
    border: none;
    padding: 5px 7px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* home info section */

.home-info {
  padding: 40px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-right: 40px;
  /* height: 654px; */
}
.home-info-container h2 {
  margin-bottom: 0;
  text-align: left;
}

.home-info-body {
  line-height: 30px;
  margin-bottom: 50px;
}

.home-info-container-body {
  line-height: 30px;
  margin-bottom: 0px;
  text-align: left;
  font-weight: 500;
}

.home-info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ced3e8;
  border-radius: 10px;
  padding: 80px 50px;
  /* width: 90vw; */
}

.home-info-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.home-info-group img {
  width: 48px;
  height: 55px;
  object-fit: contain;
}

.home-info-group-text {
  margin-left: 38px;
  display: flex;
  flex-direction: column;
  width: 305px;
  text-align: left;
}

.home-info-group-text p {
  margin-top: 0;
}

.home-info-group-text-title {
  margin-top: 0;
  font-weight: 700;
}

.home-info-image img {
  width: 400px;
  height: 420px;
  object-fit: cover;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.25);
}

.home-info-image-background {
  width: 400px;
  height: 500px;
  background-color: #ced3e8;
  position: absolute;
  right: 0;
  z-index: -2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 1000px) {
  .home-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-info-container-body {
    padding: 0 20px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: justify;
  }

  .home-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ced3e8;
  }

  .home-info-body {
    line-height: 30px;
    margin-bottom: 50px;
    padding: 0 20px;
    text-align: justify;
  }

  .home-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 500px;
  }

  .home-info-container h2 {
    margin-bottom: 0;
    text-align: center;
  }

  .home-info-group img {
    width: 40px;
    height: 50px;
    object-fit: contain;
  }

  .home-info-group-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 305px;
    text-align: left;
  }

  .home-info-container h1 {
    text-align: center;
    font-size: 18px;
    /* width: 70%; */
  }

  .home-info-image img {
    margin-top: 30px;
    width: 250px;
    height: 300px;
    object-fit: cover;
  }
}

/* solutions section */

.home-solutions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #fafbff;
  margin: 0 50px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  margin-bottom: 120px;
}

.home-solutions h1 {
  font-size: 40px;
}
.home-solutions button {
  padding: 8px 20px;
  border: none;
  background-color: #111b47;
  color: #fff;
  border-radius: 10px;
}

.home-solutions p {
  margin-bottom: 50px;
}

.solutions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 100px; */
  width: 80%;
}

.solutions-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  background-color: #ced3e8;
}
.solutions-group p {
  width: 80%;
  color: #091133;
  font-size: 12px;
  font-weight: 600;
}

/* Home Users */
.home_users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f3f5ff;
  padding: 50px 0;
  margin: 50px;
  border-radius: 20px;
  margin-bottom: 150px;
}

.home_users_left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.home_users_left button {
  padding: 8px 20px;
  width: 100px;
  margin-left: 60px;
  margin-top: 20px;
  border: none;
  background-color: #111b47;
  color: #fff;
  border-radius: 10px;
}

.home_users_right {
  width: 50%;
}

.home_user_group {
  text-align: left;
}
.home_user_group_middle_container {
  position: relative;
}
.home_user_group_middle {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  background-color: #ced3e8;
  width: 105%;
  padding: 40px;
  left: -80px;
  border-radius: 20px;
  justify-content: space-between;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
.home_user_group_middle p {
  margin-right: 30%;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.home_user_group p {
  margin-right: 30%;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* home build */
.home_build {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
  background-color: #e7ecff;
  border-radius: 20px;
  position: relative;
}

.home_build_left {
  width: 60%;
  padding: 50px;
  text-align: left;
}

.home_build h2 {
  /* margin-right: 10%; */
  text-align: left;
  color: #37447e;
  font-size: 48px;
  font-weight: 600;
}
.home_build p {
  color: #111b47;
  font-size: 36px;
}

.home_build button {
  padding: 8px 20px;

  border: none;
  background-color: #111b47;
  color: #fff;
  border-radius: 10px;
}

.home_build img {
  position: absolute;
  right: -100px;
}
/* clients section */

.clients-section {
  padding: 0 150px 100px;
}

.clients-img-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clients-section img {
  height: 63px;
  object-fit: contain;
}
.clients-section h1 {
  text-align: left;
}

@media (max-width: 1000px) {
  .solutions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }
  .solutions-container h1 {
    text-align: center;
    margin: 0 auto;
  }
  .solutions-group {
    margin-bottom: 20px;
  }

  .home-solutions {
    padding: 0 20px;
  }
  .clients-section {
    padding: 20px;
  }

  .clients-img-group {
    /* display: flex;
    flex-direction: column; */
    flex-wrap: wrap;
  }

  .clients-section img {
    height: 30px;
    object-fit: contain;
    margin: 10px;
  }

  .clients-section h1 {
    text-align: left;
    font-size: 21px;
  }
}
